body {
  background: #0AE;
  text-align: center;
  margin: 0;
}

header {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#signout {
  display: block;
  font-size: 18px;
  border-radius: 0 0 0 8px;
}

table {
  margin: 0 auto;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner {
  position: relative;
  background: none;
  border: 8px solid #FFF;
  border-radius: 100%;
  width: 96px;
  height: 96px;
  box-sizing: border-box;
}
#spinner:before,
#spinner:after {
  content: '';
  position: absolute;
  background: #0AE;
  width: 48px;
  height: 96px;
  top: -8px;
}
#spinner:before {
  right: -8px;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-animation: spin 1600ms infinite;
  -moz-animation: spin 1600ms infinite;
  animation: spin 1600ms infinite;
}
#spinner:after {
  left: -8px;
  -webkit-transform-origin: 48px;
  transform-origin: 48px;
  -webkit-animation: spin 1600ms infinite 400ms;
  -moz-animation: spin 1600ms infinite 400ms;
  animation: spin 1600ms infinite 400ms;
}

#form {
  display: none;
}

input[type="text"],
input[type="password"] {
  background: transparent;
  font: bold 32px Arial, sans-serif;
  text-align: right;
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 16px;
  margin: 0 8px;
  transition: 400ms;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #FFF;
}
::-webkit-input-placeholder {
  color: #678;
  opacity: 0.8;
}
::-moz-placeholder {
  color: #678;
  opacity: 0.8;
}
:-moz-placeholder {
  color: #678;
  opacity: 0.8;
}
:-ms-input-placeholder {
  color: #678;
  opacity: 0.8;
}
::placeholder {
  color: #678;
  opacity: 0.8;
}

a,
a:active,
a:focus,
a:visited {
  background: #06A;
  color: #FFF;
  font: bold 32px Arial, sans-serif;
  text-decoration: none;
  outline: none;
  border-radius: 8px;
  padding: 8px 12px;
}
a:hover {
  background: #027;
}

.errors {
  color: #E44;
  font: bold 32px Arial, sans-serif;
  padding: 8px 0;
  height: 40px;
}
.errors.valid {
  color: #4EE;
}

#signup-form {
  display: none;
}

#gameboard {
  display: none;
  width: 1200px;
}

#canvas {
  display: block;
  position: relative;
  background: transparent;
  margin: 0 auto;
}
